In [ ]:
import pandas as pd

In this notebook I will explain the methods I use to map the existing sections of the wall into a digital form and seed the database for :

In [ ]:
df = pd.read_csv(r"data")
print(df)

In [ ]:
print(df.dtypes)

In [ ]:
df.tail()

In [ ]:
df.columns = [x.lower() for x in df.columns]

In [ ]:
df

In [ ]:
i = -1
for x in df.duplicated():
    i += 1
    if x == True:
        print(x)
        print(i)

In [ ]:
df = df.drop([2006, 2002, 1205, 1199])

In [ ]:
i = -1
for x in df.duplicated():
    i += 1
    if x == True:
        print(x)
        print(i)

In [ ]:
df.nunique()

In [ ]:
df.describe()

In [ ]:
df.loc[df['age'].idxmax()]

In [ ]:
df.loc[df['age'].idxmin()]

In [ ]:
df['year'].value_counts()

In [ ]:
new_df = df[['fishid','lake']].copy()
new_df

In [ ]:
new_df.drop_duplicates(subset = ["fishid"], inplace =True)

In [ ]:
new_df

In [ ]:
new_df = new_df.groupby('lake').count()
new_df

In [ ]:
new_df.rename(columns={"fishid": "fish_count"})

## 5 Save the resulting dataframe to a CSV file.

In [ ]:
new_df.to_csv("final_data.csv")